<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title>Minecraft Hide and Seek 2 Docs</title>
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/main.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/img/nik.ico">
</head>
<body>
    <h1>Hide and Seek 2 Docs</h1>
    <div class="content">
        <h2>Podcast</h2>
        <p>Coming Soon!</p>
</body>
</html>