<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title>Insert Name Here</title>
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/main.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/img/nik.ico">
</head>
<body>
    <h1>Insert Name Here</h1>
    <p>Der Sehr coole Podcast von <span style="color: #0099ff;">Arongforce | Jinx</span>, <span style="color: #ff0000;">LuMa_369</span>, <span style="color: #0000ff;">Solaris</span> & <span style="color: #8800ff;">Niklaas.python (aka. NiktemA2NT)</span></p>
</body>
</html>